<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input
          matInput
          type="text"
          name="title"
          ngModel
          placeholder="Post Title"
          minlength="3"
          #title="ngModel"
          required>
          <mat-error *ngIf="title.invalid">Invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea
           matInput
           rows="6"
           name="content"
           placeholder="Post Content"
           ngModel
           minlength="3"
           #content="ngModel"
           required>
           <mat-error *ngIf="content.invalid">Invalid</mat-error>
          </textarea>

        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        type="submit">Save Post</button>
  </form>
</mat-card>
